body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  text-align: center;
  background-color: rgba(206, 231, 216, 0.664);
}

a {
  color: rgb(236, 148, 75);
  text-decoration: none;
}
